body {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5em;
}

span {
    font-family: 'Permanent Marker', cursive;
<<<<<<< HEAD
}

.container {
    background: #fff;
    border-radius: 10px;
    padding: 15px;
    width: 600px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.534);
}
header {
    padding: 20px;
    font-size: 1.5em;    
}

div {
    padding: 20px;
}

.done {
    background: rgb(199, 198, 198);
}

footer {
    font-size: 1em;
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    margin: 20px;

=======
>>>>>>> 2567d4d9738e145c3a06d405d789da6e2f862919
}